<% @page_title = "Servicers - Edit" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="servicers edit">
	<h2>Edit Servicer</h2>

	<%= form_for(:servicer, :url => {:action => 'update', :id => @servicer.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<%= render(:partial => "shared/submit_button") %>

	<% end %>
</div>