<% @page_title = "Servicers - Edit" %>

<div>
	<h2 class="page-title">Edit Servicer</h2>
	<%= link_to("Back to List", {action: 'index', search: @search_value, sort: @sort_direction}, class: 'btn btn-info') %>
	<%= simple_form_for(@servicer,
						url: {
						 	action: 'update',
						 	id: @servicer.id,
						 	search: @search_value,
						 	sort: @sort_direction
						},
						wrapper: :vertical_form,
						class: 'form-group') do |f| %>
		<%= render(partial: "form", locals: {f: f}) %>
	<% end %>
</div>