<% @page_title = "Servicers - Create" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="servicers new">
	<h2>Create Servicer</h2>

	<%= simple_form_for(:servicer,
						:url => {
							:action => 'create'
						},
						class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>