<% @page_title = "Technologist Assignments - Edit" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="technologist_assignments edit">
	<h2>Edit Technologist Assignment</h2>

	<%= simple_form_for(:technologist_assignment,
						:url => {
							:action => 'update',
							:id => @technologist_assignment.id
						},
						class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>