<% @page_title = "Technologists - Edit" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="technologists edit">
	<h2>Edit Technologist</h2>

	<%= simple_form_for(:technologist,
						:url => {
							:action => 'update',
							:id => @technologist.id
						},
						class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>