<% @page_title = "Technologists - Create" %>

<div>
	<div>
		<h2>Create Technologist</h2>
		<%= link_to("Back to List", {action: 'index', search: @search_value, sort: @sort_direction}, class: 'btn btn-info') %>
	</div>
	<%= simple_form_for(@technologist,
						url: {
						 	action: 'create',
						 	search: @search_value,
						 	sort: @sort_direction
						},
						class: 'form-group') do |f| %>
		<%= render(partial: "form", locals: {f: f}) %>
	<% end %>
</div>