<% @page_title = "Servicer Assignments - Edit" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="servicer_assignments edit">
	<h2>Edit Servicer Assignment</h2>

	<%= form_for(:servicer_assignment, :url => {:action => 'update', :id => @servicer_assignment.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<%= render(:partial => "shared/submit_button") %>

	<% end %>
</div>