<table summary="Company form fields">
	<tr>
		<th><%= f.label(:name, "Name") %></th>
		<td><%= f.text_field(:name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:website_url, "Website URL") %></th>
		<td><%= f.text_field(:website) %></td>
	</tr>
</table>