<% @page_title = "Companies - Edit" %>

<div>
	<h2>Edit Company</h2>
	
	<%= link_to("Back to List", {:action => 'index', :search => @search_value, :sort => @sort_direction}, class: 'btn btn-info') %>

	<%= simple_form_for(@company,
						:url => {
							:action => 'update',
							:id => @company.id
						},
						wrapper: :vertical_form,
						class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>