<% @page_title = "Companies - Edit" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="companies edit">
	<h2>Update Company</h2>

	<%= simple_form_for(:company,
						:url => {
							:action => 'update',
							:id => @company.id
						},
						class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>