<% @page_title = "Companies - Create" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="companies new">
	<h2>Create Companies</h2>

	<%= form_for(:company, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<%= render(:partial => "shared/submit_button") %>

	<% end %>
</div>