<% @page_title = "Companies - Create" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="companies new">
	<h2>Create Companies</h2>

	<%= simple_form_for(:company,
						:url => {
							:action => 'create'
						},
						class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>