@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css";
@import "font-awesome";
@import "products";
@import "companies";
@import "servicers";
@import "technologists";


/*************
    COLORS     
*************/
$msi-blue: #0063BE;
$msi-dark-blue: #114488;
$white: #FFF;


/***************
    BUTTONS
***************/
.btn-primary-transparent,
.btn-warning-transparent,
.btn-danger-transparent,
.btn-success-transparent,
.btn-info-transparent, {
  background-color: transparent !important;
}


/*************
    ICONS
*************/
.icon-primary {
  color: #2e6da4;
}
.icon-warning {
  color: #eea236;
}
.icon-danger {
  color: #d43f3a;
}
.icon-success {
  color: #4cae4c;
}
.icon-info {
  color: #46b8da;
}


/*************
    NAVBAR    
*************/
$bgDefault      : $msi-blue;
$bgHighlight    : $msi-dark-blue;
$colDefault     : $white;
$colHighlight   : $white;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
.navlink:hover {
	background-color: $bgHighlight;
}
#msi-logo {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*************
     MAIN     
*************/
.main {
  min-height: 100vh;
}


/***************
     FOOTER     
***************/
.footer {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: $msi-blue;
  color: $white;
  .copyright {
    margin-top: 20px;
  }
}


/***************
     GENERAL     
***************/
.page-title {
  margin-bottom: 20px;
}
// _form
.form-section {
  margin-top: 50px;
}
// show
.details-section {
  margin-bottom: 50px;
}
.details-panel {
  margin-top: 20px;
}
// index
.search-box {
  margin-bottom: 50px;
}
.search-form {
  margin-bottom: 0;
}