<div class='nested-fields'>
    <%= f.input :data, as: :string, label: false, class: 'form-input form-control' %>
    <%= link_to_remove_association 'Remove', f, class: 'btn btn-xs btn-danger' %>
</div>