<div class='nested-fields input-group'>
    <%= f.input :data, as: :string, label: false, class: 'form-input form-control' %>
    <span class='input-group-btn'>
    	<%= link_to_remove_association 'Remove', f, class: 'btn btn-danger' %>
    </span>
    
</div>