<% @page_title = "Products - Delete" %>

<div class="products delete">
	<h2>Delete Product</h2>
	
	<%= link_to("Back to List", {:action => 'index', :search => @search_value, :sort => @sort_direction}, class: 'btn btn-info') %>

	<%= simple_form_for(@product,
				 		url: {
						 	action: 'destroy',
						 	id: @product.id,
						 	search: @search_value,
						 	sort: @sort_direction
						},
						method: 'delete') do |f| %>
		<p>Are you sure you want to permanently delete this product?</p>
		<p class="reference-name"><%= @product.name %></p>
		<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
	<% end %>
</div>