<% @page_title = "Products - Edit" %>

<%= link_to("<< Back to List", {:action => 'index', :search => @search_value, :sort => @sort_direction}, :class => 'back-link') %>

<div class="products edit">
	<h2>Edit Product</h2>

	<%= simple_form_for(:product,
				 		:url => {
						 	:action => 'update',
						 	:id => @product.id,
						 	:search => @search_value,
						 	:sort => @sort_direction
						},
				 		class: 'form-group') do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
</div>