<% @page_title = "Products - Edit" %>

<div>
	<div>
		<h2>Edit Product</h2>
		<%= link_to("Back to List", {action: 'index', search: @search_value, sort: @sort_direction}, class: 'btn btn-info') %>
	</div>
	<%= simple_form_for(@product,
				 		url: {
						 	action: 'update',
						 	id: @product.id,
						 	search: @search_value,
						 	sort: @sort_direction
						},
						wrapper: :vertical_form,
				 		class: 'form-group') do |f| %>
		<%= render(partial: "form", locals: {f: f}) %>
	<% end %>
</div>