<% @page_title = "Products - Edit" %>

<div>
	<h2 class="page-title">Edit Product</h2>
	<%= link_to("Back to List", {action: 'index', search_for: @search_value, filter_by_product: @filter_by_product, filter_by_company: @filter_by_company, filter_by_tag: @filter_by_tag, sort_by: @sort_direction}, class: 'btn btn-info') %>
	<%= simple_form_for(@product,
				 		url: {
						 	action: 'update',
						 	id: @product.id,
						 	search: @search_value,
						 	sort: @sort_direction
						},
						wrapper: :vertical_form,
				 		html: {
							multipart: true,
							class: 'form-group'
						}) do |f| %>
		<%= render(partial: "form", locals: {f: f}) %>
	<% end %>
</div>