<!DOCTYPE html>
<html>
	<head>
	  	<title>Product Supported Database</title>

		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		
	  	<!-- Latest compiled and minified CSS 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		-->

		<!-- Optional theme  
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		-->
	</head>
	<body>
		
		<!-- navbar fixed top -->
		<div class="container">
			<img style="height:50px;padding-top:10px;padding-bottom:10px;" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Motorola_Solutions_Logo.svg" alt="Motorola Solutions logo">
		</div>
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">SSC Product Support</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="navlink"><a href="/products">Products</a></li>
	            <li class="navlink"><a href="/companies">Companies</a></li>
	            <li class="navlink"><a href="/technologists">Technical Support</a></li>
	            <li class="navlink"><a href="/servicers">Repair Service</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li class="navlink"><a href="#">Requests</a></li>
	            <li class="navlink"><a href="#">Help</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

		<div class="main container">
			<% if !flash[:notice].blank? %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>
			<div>
				<%= yield %>
			</div>
		</div>

		<footer class="footer">
			This is my footer.
		</footer>

		<!-- Latest compiled and minified jQuery & JavaScript 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
	</body>
</html>
